@using Vidly.Models
@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <text>There are no customers</text>
}
else
{
<table class="table table-bordered table-hover">
    <tr>
        <th>Movie</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id})
            </td>
        </tr>

    }
</table>

}
