@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<div>
    <h2>@ViewBag.Title</h2>
</div>

<div>
    @Html.ActionLink("Create", "New", "Movie", null, new {@class = "btn btn-primary"})
</div>

<div class="top-buffer">
    @if (!Model.Any())
    {
        <text>There are no movies </text>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Edit", "Movie", new {id = item.Id}, null)</td>
                    <td>@item.Genre.Name</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>